src/main/resources/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="test"
           targetNamespace="test"
           elementFormDefault="qualified">

    <xs:complexType name="ServiceInfo">
        <xs:sequence>
            <xs:element name="ServiceId" type="xs:string"/>
            <xs:element name="ServiceType" type="xs:string"/>
            <xs:element name="CustomerId" type="xs:string"/>
            <xs:element name="SubscriptionId" type="xs:string"/>
            <xs:element name="ServiceDetails" type="tns:ServiceDetailsType"/>
            <xs:element name="CustomerDetails" type="tns:CustomerDetailsType"/>
            <xs:element name="VIPCustomer" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

<xs:element name="CreateRequest">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Service" type="tns:ServiceInfo"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="UpdateRequest">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Service" type="tns:ServiceInfo"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Status" type="xs:string"/>
                <xs:element name="Message" type="xs:string" minOccurs="0"/>
                <xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
                <xs:element name="ErrorMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Service" type="tns:ServiceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllServicesRequest">
        <xs:complexType/> 
    </xs:element>

    <xs:element name="GetAllServicesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Services" type="tns:ServiceInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ServiceDetailsType">
        <xs:sequence>
            <xs:element name="PlanType" type="xs:string"/>
            <xs:element name="DataLimit" type="xs:string" minOccurs="0"/>
            <xs:element name="RoamingEnabled" type="xs:boolean" minOccurs="0" nillable="true"/>
            <xs:element name="SpecialOffer" type="xs:string" minOccurs="0"/>
            <xs:element name="AdditionalServices" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Service" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CustomerDetailsType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Address" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="ContactNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Street" type="xs:string" minOccurs="0"/>
            <xs:element name="City" type="xs:string" minOccurs="0"/>
            <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
            <xs:element name="Country" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="DeleteServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>